/* Estilo del contenedor 
.Container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  /* Estilo del formulario 
  .Form {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Estilo de los grupos de formularios 
  .FormGroup {
    margin-bottom: 15px;
  }
  
  /* Estilo de las etiquetas 
  .Label {
    font-weight: bold;
  }
  
  /* Estilo de los campos de entrada 
  .Input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Estilo del botón de envío 
  .Button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Cambio de color del botón al pasar el cursor sobre él 
  .Button:hover {
    background-color: #0056b3;
  }
  