.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: white;
    text-decoration: none;
    
}

.navbar-shadow{
    box-shadow: 0 0 4px #cccccc;
}
.ml-auto{
    display: flex;
    padding: 0;
    margin-top: 0 auto;
  
}

.navbar-brand{
    color: black;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Helvetica';
    text-decoration: none;
    margin-right: 30rem;
}

.form-inline {
    display: flex;
    
    

}
.btn{
    margin-right: 12px;
    background-color: #0c6fde; 
    border-color: lightgrey;
    border-radius: 10px;
    width: 6rem;
    padding: 8px;
    border-width: 0;
    color: white;
   
}