.navbar {
    background-color: #333;
    color: #fff;
    padding: 0 auto;
    width: 400px;

  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2rem;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    
  }
  
  .nav-item {
    margin-right: 2rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  